#about{
    background: url("/img/backgroundAbout.jpg") center no-repeat;
    background-size: cover;
    
}

.about-container{
    backdrop-filter: blur(4px);
    padding: 15rem 2rem;
    text-align: center;
}

.about-container h1{
    font-size: 3rem;
}

.about-container p{
    font-size: 1.8rem;
}

.about-container button{
    padding: 1rem 4rem;
}