*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: white;
}

.background-main{
    position: fixed;
    z-index: -100;

}

.main-container{
    backdrop-filter: brightness(40%);
}

.activePopUp .pop-up{
    display: flex;
}

.pop-up{
    backdrop-filter: blur(10px);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}

.pop-up form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    transition: 0.5s;
    background-color: rgb(28, 28, 28);
    width: 40rem;
    padding: 2rem;
    border: 1px solid red;
    border-radius: 1rem;
}

.input-area{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form button{
    padding: 1rem 4rem;
    border: none;
    background-color: red;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
}

form button:hover{
    background-color: rgb(142, 0, 0);
}

input{
    padding: 0.5rem;
}

header button, #about button{
    border: 1px solid white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.201);
    color: white;
    transition: 0.5s;
}

header button:hover, #about button:hover{
    background-color: rgba(255, 255, 255, 0.201);
}

body::-webkit-scrollbar{
    width: 0.5rem;
    background-color: white;
    
}
body::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color: rgb(51, 51, 51); 
}
