<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/css-admin/header.css">
    <link rel="stylesheet" type="text/css" href="/css/css-admin/style.css">
    <link rel="icon" href="/img/icon.png">
    <title>Admin | AutoCar</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img class="logo" src="/img/icon.png">
            <nav>
                <ul>
                    <a onclick="Teste()"><li>Cars</li></a>
                    <a><li>Users</li></a>
                    <a><li>Report</li></a>
                    <a href="/exit"><li>Sing out</li></a>
                </ul>
            </nav>
        </div>
    </header>

    <script src="/js/scriptAdmin.js"></script>
</body>
</html>