<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/media.css">

    <link rel="icon" href="/img/icon.png" type="image/png">
    <title>Home | AutoCar</title>
</head>
<body>
    <video src="/img/video2.mp4" autoplay loop muted></video>
    <header>
        <div class="header-container">
            <nav>
                <ul>
                    <a><li>HOME</li></a>
                    <a><li>ABOUT</li></a>
                    <a><li>CARS AVAILABLE</li></a>
                    <a><li>CONTACTS</a></li>
                </ul>
            </nav>
            
        </div>
    </header>

    <div class="main-container">
        <section id="home">        
            <div class="line"></div>
            <div class="home-container">        
                <p>THE BEST CAR LOAN SHOP</p>
                <h1>YOUR CAR</h1>
                <p>HERE ARE THE BEST PRICES</p>       
            </div>     
            <div class="line"></div>  
        </section>
        
    </div>
</body>
</html>