<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/css-interest/main.css">
    <link rel="icon" href="/img/icon.png">
    <title>Interest | AutoCar</title>
</head>
<body>
    <main>
        <div class="main-container">
            <h1>Interest registed sucessfully!</h1>
            <a href="/"><button>Back to home</button></a>
        </div>
    </main>
</body>
</html>