<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0;url=/page">
    <title>AutoCar</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
    <img class="background-main" src="/img/background.jpg">
    <header>
        <div class="header-container">
            <a href="/"><img src="/img/icon.png"></a>
            <nav>
                <ul>
                    <a href="#"><li>HOME</li></a>
                    <a href="#about"><li>ABOUT</li></a>
                    <a href="#cars"><li>CARS AVAILABLE</li></a>
                    <a href="#contacts"><li>CONTACTS</li></a>
                </ul>
            </nav>
            <div class="buttons-header">
                <a href="/login"><button>Enter</button></a>
            </div>
            <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
        </div>
    </header>

    <div class="main-container">
        <section id="home">        
            <div class="line"></div>
            <div class="home-container">        
                <p>THE BEST CAR LOAN SHOP</p>
                <h1>YOUR CAR</h1>
                <p>HERE ARE THE BEST PRICES</p>       
            </div>     
            <div class="line"></div>  
        </section>
        <section id="about">
            <div class="about-container">
                <h1>About</h1>
                <br>
                <br>
                <p>
                    Hello, we are the AutoCar, we provide the best cars
                    at the best prices, register on our website and get start
                    your search for the perfect car. We will provide the best
                    support for you and help you in every detail.
                </p>
                <br>
                <br>
                <a href="#cars"><button>Start now!</button></a>
            </div>
        </section>

        <section id="cars">
            <div class="cars-container">

            </div>
        </section>
        
    </div>

    <footer id="contacts">
        <div class="footer-container">
            
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="/js/home.js"></script>
    <script src="/jsData/home.js"></script>
</body>
</html>