<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/css-password/resetPassword.css">

    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Reset Password</h1>
            <input type="password" name="new_password" id="new_password" placeholder="New Password">
            <input type="password" name="username" id="username" placeholder="Confirm Password">
            <button><a href="#">Confirm</a></button>
        </form>
    </div>
</body>
</html>