*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 28, 28);
    color: white;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button{
    padding: 1rem 2rem;
    border: none;
    background-color: red;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(142, 0, 0);
}