.footer-container{
    padding: 15px;
    background-color: rgb(28, 28, 28);
    text-align: center;
}

.footer-integrante{
    margin-top: 20px;
}

.footer-integrante a{
    text-decoration: none;
    color: white;
    margin-top: 2px;
}

.footer-integrante a i{
    color: white;
    transition: 0.3s;
}

.footer-integrante a i:hover{
    color: lightblue;
    transition: 0.3s;
}